

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
  font-family: 'Poppins', sans-serif;
  background-color: rgb(255, 255, 255);
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.app-content {
  flex: 1; /* Take the remaining space below navbar */
  overflow: hidden; /* No scrollbars */
}

